@media screen and (min-width: 768px) {

  /* Global ============== */
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 35px;
  }

  /* Header ============== */
  .open-menu {
    display: none;
  }

  .close-menu {
    display: none;
  }

  .header-menu {
    position: static;
    background-color: transparent;
    width: auto;
    transition: none;
  }

  .menu-list {
    grid-auto-flow: column;
  }

  /* Banner ============== */


  /* Process-visa ============== */
  .process-visa-container {
    grid-template-columns: 1fr 1fr;
  }

  /* Visas-types ============== */
  .visa-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* About ============== */
  .about-container {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  /* Service-list ============== */
  
  /* Footer ============== */
  .footer-menu {
    grid-auto-flow: column;
  }
}


@media screen and (min-width: 1024px) {
  /* Banner ============== */
  .banner-container {
    width: 55%;
    gap: 30px;
  }

  /* Process-visa ============== */


  /* Visas-types ============== */
  .visa-cards-container {
    grid-template-columns: repeat(3, 1fr);
  }

  /* About ============== */
  .about-container {
    gap: 40px;
  }
}