@media screen and (min-width: 768px) {

  /* Global ============== */
  h1 {
    font-size: 2.75em;
  }

  h2 {
    font-size: 2em;
    margin-bottom: 60px;
  }

  /* Header ============== */
  .open-menu {
    display: none;
  }

  .close-menu {
    display: none;
  }

  .header-menu {
    position: static;
    background-color: transparent;
    width: auto;
    transition: none;
  }

  .menu-list {
    grid-auto-flow: column;
  }

  /* Banner ============== */


  /* Process-visa ============== */
  .process-visa {
    padding-top: 100px;
  }
  .process-visa-container {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  /* Visas-types ============== */
  /* .visa-cards-container {
    grid-template-columns: repeat(auto-fit, );
  } */

  /* About ============== */
  .about-container {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  /* Steps-to-apply ============== */
  /* .steps {
    grid-template-columns: repeat(3, 1fr);
  } */

  /* Service-list ============== */
  .service-list-left-right-container {
    grid-template-columns: 1fr 1fr;
  }

  .service-list-left p {
    text-align: right;
  }
  
  /* Countries ============== */
  /* .countries-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  } */

  /* Contact ============== */

  /* Footer ============== */
  .footer-menu-social-media {
    flex-direction: initial;
    justify-content: space-between
  }

  .footer-menu {
    grid-auto-flow: column;
  }
}


@media screen and (min-width: 1024px) {
  /* Global ============== */
  p {
    font-size: 1.12em;
  }

  /* Banner ============== */
  .banner-container {
    width: 55%;
    gap: 30px;
  }

  /* Process-visa ============== */
  .process-visa-container {
    gap: 60px;
  }

  /* Visas-types ============== */
  .visa-cards-container {
    gap: 65px;
  }

  /* About ============== */
  .about-container {
    gap: 40px;
  }

  /* Steps-to-apply ============== */
  .steps {
    gap: 65px;
  }

  /* Services-list ============== */

  /* Countries ============== */
  .countries-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  /* Contact ============== */

  /* Footer ============== */
}