@media screen and (min-width: 768px) {

  /* Header ============== */

  h1 {
    font-size: 44px;
  }

  /* Header ============== */

  .open-menu {
    display: none;
  }

  .close-menu {
    display: none;
  }

  .header-menu {
    position: static;
    background-color: transparent;
    width: auto;
    transition: none;
  }

  .menu-list {
    grid-auto-flow: column;
  }
}


@media screen and (min-width: 1024px) {
  /* Banner ============== */

  .banner-container {
    width: 55%;
    gap: 30px;
  }
}