* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

main, section {
  padding: 50px 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

.wrapper {
  height: 100%;
  padding: 0 10%;
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
  grid-template-columns: inherit;
  grid-template-rows: inherit;
  grid-template-areas: inherit;
  grid-gap: inherit;
}


